:root {
    --green: #0ddf72;
    --green-text: #dafce0;
}

body {
    height: 100vh;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    
    background-color: black;
}

h1 {
    margin: 0;
    
    color: var(--green-text);
    font-size: 6.5em;
    font-family: Calibri, sans-serif;
}

a, p {
    font-family: Calibri, sans-serif;
    font-size: 1.5em;
    text-wrap: wrap;
}

p {
    color: white;
}

.returnShift_logo {
    width: 15pc;
    margin-top: 2pc;
    margin-left: 2pc;
}

.content {
    margin: 0 2pc 7pc 2pc;
    
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-around;
}

.content p {
    font-style: italic;
}

.infinityCards_logo_container {
    width: 30pc;
    margin: 0 3pc;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.infinityCards_logo {
    width: 100%;
    
    border-radius: 2.5pc;
    box-shadow: 1pc 1pc 1pc var(--green);
    rotate: -20deg;
    
    animation-name: floaty-card;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes floaty-card {
    from {
        translate: 0 10%;
    }
    50% {
        translate: 0 -10%;
    }
    to {
        translate: 0 10%;
    }
}

.main-message {
    width: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my_button {
    width: fit-content;
    height: 2em;
    padding: 0 1em;
    margin: 24px 0;
    
    display: flex;
    align-self: start;
    align-items: center;
    
    border: 0;
    border-radius: 0.5em;
    
    color: black;
    background-color: var(--green);
    
    text-decoration: none;
    font-weight: bold;
    
    transition: all 200ms;
}

.my_button:hover {
    translate: 0 -0.35em;
    box-shadow: 0 0.6em 0.6em -0.4em var(--green);
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.background-shapes {
    width: 20pc;
    align-self: end;
}

.socials-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.socials {
    display: flex;
    justify-content: center;
}

.socials > a {
    width: 7pc;
    min-width: 32px;
    height: 7pc;
    min-height: 32px;
    margin-left: 1pc;
    margin-right: 1pc;
    
    mask-size: cover;
    background-blend-mode: color;
    
    transition: all 200ms ease-out;
}

.socials > a:not(:hover) {
    background-color: white;
}

.socials > a:nth-child(1) {
    mask-image: url("images/discord-logo.png");
    background-image: linear-gradient(#5865F2, #5865F2);
}

.socials > a:nth-child(2) {
    mask-image: url("images/instagram-logo.png");
    background-image: linear-gradient(20deg, #FFD600, #FF7A00, #FF0069, #D300C5, #7638FA);
}

.socials > a:nth-child(3) {
    mask-image: url("images/twitch-logo.png");
    background-image: linear-gradient(#9146FF, #9146FF);
}

@media screen and (max-width: 1150px) {
    h1 {
        font-size: 4em;
        text-align: center;
    }

    p {
        text-align: center;
    }

    .content {
        flex-direction: column;
        justify-content: center;
    }

    .infinityCards_logo_container {
        margin-bottom: 8pc;
        align-self: center;
    }

    .main-message {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .my_button {
        align-self: center;
    }

    .socials > a:not(:hover) {
        background-color: transparent;
    }

    .socials > a {
        animation-duration: 9s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-name: pulse;
    }

    .socials > a:nth-child(2) {
        animation-delay: -6s;
    }

    .socials > a:nth-child(3) {
        animation-delay: -3s;
    }

    @keyframes pulse {
        from {
            background-color: transparent;
        }
        33%, 66% {
            background-color: white
        }
        to {
            background-color: transparent;
        }
    }
    
    .background-shapes {
        display: none;
    }
}